<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UOData.Properties.Settings.euoConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=euo;Persist Security Info=True;User ID=root;Password=7z456"
            providerName="System.Data.SqlClient" />
        <add name="UOData.Properties.Settings.euoConnectionString1" connectionString="Data Source=IMAGEM3\SQLEXPRESS;Initial Catalog=euo;Persist Security Info=True;User ID=sa;Password=7z456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>